:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background: #fff;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all 0.3s;

  img {
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
  }
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
}

nz-content {
  margin: 10px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  border-radius: 4px;
  min-width: 1000px;
}

.title-menu {
  font-size: x-large;
}

.menu-centered li {
  margin-top: 15px;
  background: #ebeaea;
  border-radius: 5px;
}

// New styles for the header
.header-app {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 16px;
}

.server-info {
  background-color: #f0f0f0;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px 15px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.language-selector {
  margin-right: 10px;

  img, .flag {
    width: 20px;
    height: 20px;
  }
}

.header-icon {
  margin-right: 10px;
  color: #1890ff;
  font-size: 20px;
  cursor: pointer;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  font-size: 18px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #1890ff;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.username {
  color: #1890ff;
  font-size: 20px;
}
