:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-app {
  display: flex;
  margin-right: 20px;
  justify-content: flex-end;
}
.header img,
.flag {
  width: 20px;
  height: 20px;
}
.app-layout {
  height: 100vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 100vh;
  background: #fff;
}

.header-trigger {
  height: 64px;
  padding: 20px 24px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  position: relative;
  height: 64px;
  padding-left: 24px;
  overflow: hidden;
  line-height: 64px;
  background: #fff;
  transition: all 0.3s;
}

.sidebar-logo img {
  display: inline-block;
  height: 32px;
  width: 32px;
  vertical-align: middle;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
}

nz-content {
  margin: 10px;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  border-radius: 4px;
}

.title-menu {
  font-size: x-large;
}

.menu-centered li {
  margin-top: 15px;
  background: #ebeaea;
  border-radius: 5px;
}
