:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  min-height: 90vh;
}

.menu-sidebar {
  position: relative;
  z-index: 10;
  min-height: 90vh;
  background: #fff;
}

.menu-layout {
  .active {
    background-color: #e6f7ff;
    font-weight: bold;
  }

  li {
    margin-top: 10px;
    border-radius: 5px;
    width: 240px;
    margin-left: 10px;
  }
}

.menu-centered li {
  margin-top: 15px;
  background: #ebeaea;
  border-radius: 5px;
}

.title-menu {
  font-size: x-large;
  font-weight: bold;
}

.select-project {
  margin-left: 10px;
  margin-top: 20px;
}

.setting-sider {
  position: absolute;
  bottom: 0;
  margin-bottom: 50px;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: #fff;
}

.header-app {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;

  .server-indicator {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    font-size: 17px;
    border-radius: 5px;
    padding: 5px 15px;
    height: 25px;
    margin-right: 10px;
  }

  .language-selector {
    margin-right: 10px;

    img, .flag {
      width: 20px;
      height: 20px;
    }
  }

  .header-icon {
    margin-right: 10px;
    color: #1890ff;
    font-size: 20px;
    cursor: pointer;
  }

  .user-avatar {
    margin-right: 10px;

    span {
      font-size: 18px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background: #1890ff;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .username {
    color: #1890ff;
    font-size: 20px;
  }
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
  border-radius: 4px;
}
