@font-face {
  font-family: Roboto;
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Kantumruy;
  src: url("./assets/fonts/Kantumruy.woff2");
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Kantumruy", "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 480;
  font-style: normal;
}


